- project.participations.recent.limit(20).each do |participation|
  = byline participation.user

= link_to '참여시민 모두보기', project_participations_path(project_id: project), class: 'participation-all-user'
