%a.anchor#anchor-comments
= render 'comments/form', local_assigns
= render 'comments/page', local_assigns.merge(comments: commentable.comments.recent.page, best_comments: commentable.comments.hottest)
