%section
  .container
    %ul
      %li= link_to '운영자', admin_staffs_path
      %li= link_to '제안', admin_proposals_path
      %li= link_to '프로젝트', admin_projects_path
      %li= link_to '위원회', admin_committees_path
