- data_params = { action: 'hotline-filter-projects', 'search-input': '#projects-all input[data-action=hotline-search-projects]', 'search-sort': 'default'}
%ul.list-inline
  %li= link_to '최신순', '#', data: data_params.merge('search-sort': 'recent'), class: ('active' if params['sort'] == 'recent' or params['sort'].blank?)
  |
  %li= link_to '참여순', '#', data: data_params.merge('search-sort': 'hottest'), class: ('active' if params['sort'] == 'hottest')
  |
  %li= link_to '매칭순', '#', data: data_params.merge('search-sort': 'matching'), class: ('active' if params['sort'] == 'matching')
