%section#page-home
  %section#key-visual
    .container
      %p
        국회에 직접 톡을 보내세요
        %br
        시민의 제안으로 법안을 만듭니다
      = image_tag 'key_visual.png', class: 'key-visual-image'
      = link_to '지금 제안하기', new_proposal_path, class: 'btn btn-home-proposal'

  %section#current-projects
    .container.project-container
      .section-title 진행 중인 프로젝트
      = render @projects
