%section#page-home
  %section#key-visual
    .container
      %p
        국회에 직접 메시지를 보내세요.
        %br
        시민 1,000명의 메시지가 모이면, 국회의원이 응답합니다!
      = image_tag 'key_visual.png', class: 'key-visual-image'

  %section#current-projects
    .container.project-container
      .section-title 진행 중인 제안
      = render @projects
