%h3 참여 요청할 국회의원
- if project.committee.present?
  %p.help-block
    시민 #{project.participations_goal_count}명이 모이면
    #{project.committee.name} 상암위원회 의원에게 참여를 요청합니다.

  %div
    = render partial: 'matches/congressman', collection: project.committee.congressmen
- else
  %p.help-block
    시민 #{project.participations_goal_count}명이 모이면
    입법 활동을 잘 할 수있는 국회의원에게 참여를 요청합니다.
