section#comments {
  margin-top: 13px;

  .placeholder {
    color: $gray-light;
    @include responsive-font-size-small();
    border: 1px solid $gray-lighter;
    line-height: 2.75;
    padding-left: 13px;
    border-radius: $input-border-radius;
  }
  .comment-form {
    padding-bottom: 18px;
    form#new_comment {
      display: none;
      #comment_body {
        @include responsive-font-size-small();
      }
    }
  }
}
section#comments-edit {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page-header {
    margin: 20px 0 0;
    border: none;

    .project-meta {
      margin-top: 12px;
      margin-bottom: 12px;

      .count {
        @include responsive-font-size-small();
        color: $gray-light;
      }
      .created_at {
        i {
          color: $brand-primary;
        }
        .date {
          @include responsive-font-size-small();
          color: $gray-light;
        }
      }
      .comments-button {
        margin-left: 15px;
      }
    }
    h2 a {
      color: $text-color;
      &:hover {
        color: $brand-primary;
      }
    }
  }
  .comment-edit-label {
    margin-bottom: 20px;
    color: $brand-primary;
    strong {
      font-weight: 900;
    }
  }
}

.comment {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
  color: $gray;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  &:last-child {
    border-bottom: 1px solid transparent;
  }

  margin-bottom: -1px;
  .comment-meta {
    @include responsive-font-size-small();
    margin-bottom: 5px;
    .comment-name {
      margin-right: 9px;
    }
  }
  .comment-body {
    word-break: break-all;
  }
  .buttons a + a {
    margin-left: 9px;
  }
  .fa-thumbs-up {
    color: $brand-primary;
  }

  .comment-best {
    display: inline-block;
    background-color: $brand-primary;
    color: #fff;
    padding: 1px 3px;
    border-radius: 2px;
    margin-left: 4px;
  }
}

.best-comment {
  background-color: $gray-lightest;
}

.btn-comment {
  line-height: 1;
  &, &:focus, &.focus {
    background-color: $gray-lighter;
    color: $gray;
  }
  &:hover {
    color: $gray-dark;
    @include hover-shadow();
  }
}
