footer.footer {
  background-color: $gray-lightest;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 18px;
  .footer-logo-wrapper {
    margin-bottom: 14px;

    .footer-logo {
      img {
        height: 20px;
      }

      &__wagl {
        margin-right: 17px;
      }
      &__parti {

      }
    }
  }
  .help-mail a {
    @include responsive-font-size-small();
    color: $gray-light;
    text-decoration: underline;
    margin-top: 12p;
    margin-bottom: 17px;
  }
}
