footer.footer {
  body.app-projects-show & {
    border-top: 1px solid $gray-lighter;
  }
  background-color: $gray-lightest;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 48px;
  .footer-logo-wrapper {
    margin-bottom: 14px;

    .logo-host-wrapper {
      margin-bottom: 24px;
    }

    .logo-partner-wrapper {
      margin-bottom: 24px;
      .footer-logo {
        img {
          width: 40px;
        }
      }
    }

    .footer-logo {
      img {
        width: 58px;
      }

      &__wagl {
        margin-right: 20px;
      }
      &__parti {

      }
      &__future {
        margin-right: 10px;
      }
      &__forum{
      }
    }
    .logo-divider {
      font-size: 35px;
      color: $site-header-primary;
    }
    .logo-label {
      font-size: 12px;
      color: $gray;
    }
    .footer-menu > span + span {
      margin-left: 6px;
    }
  }
  .privacy,
  .user-agreement,
  .help-mail {
    a {
      @include responsive-font-size-small();
      color: $gray-dark;
      margin-top: 12px;
      margin-bottom: 17px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .social-share {
    margin-top: 10px;
    li {
      padding-left: 2px;
      padding-right: 2px;
    }
    .social-icon {
      &__kas {
        width: 44px;
        height: 44px;
      }
      &__kakao {
        img {
          width: 44px;
          height: 44px;
        }
      }
      &__facebook {
        img {
          width: 44px;
          height: 44px;
        }
      }
      &__twitter {
        img {
          width: 44px;
          height: 44px;
        }
      }
    }
    .social-icon--mobile {
      &__kas {
        width: 44px;
        height: 44px;
      }
      &__kakao {
        img {
          width: 44px;
          height: 44px;
        }
      }
      &__facebook {
        img {
          width: 44px;
          height: 44px;
        }
      }
      &__twitter {
        img {
          width: 44px;
          height: 44px;
        }
      }
    }
  }
}
