section#page-home {
  section#key-visual {
    padding-top: 38px;
    padding-bottom: 38px;
    text-align: center;

    .key-visual-image {
      width: 100%;
      margin-top: -150px;
      margin-bottom: 20px;
      @media (max-width: $screen-xs-max) {
        margin-top: -72px;
      }
    }

    background-color: $site-header-primary;
    p {
      font-size: $font-size-large;
      color: $brand-primary-lighter;
      position: relative;
    }

    .btn-home-proposal {
      background-color: #02f2d5;
      color: $site-header-primary;
      width: 180px;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: $font-size-large;

      &:hover {
        color: $site-header-primary-dark;
        @include hover-big-shadow();
      }
    }
  }

  section#current-projects {
    padding-top: 10px;

    .section-title {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 18px;
      color: $brand-primary;
      @media (max-width: $screen-xs-max) {
        padding-left: 20px;
      }
    }
    .project-container {
      padding-left: 0;
      padding-right: 0;
    }

    .project {
      border-top: 1px solid $gray-lighter;

      @media (min-width: $screen-sm-min) {
        border-left: 1px solid $gray-lighter;
        border-right: 1px solid $gray-lighter;
        &:last-child {
          border-bottom: 1px solid $gray-lighter;
        }
      }

    }
  }
}
