section#page-home {
  section#key-visual {
    text-align: center;

    .owl-carousel {
      color: #fff;
      .owl-item {
        .item.constant-item {
          background-color: $brand-success;
          padding-top: 38px;
          padding-bottom: 38px;
          img {
            width: 100%;
            height: auto;
            max-width: 700px;
          }
        }
        .changable-item {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 514px;
          @media (max-width: $screen-xs-max) {
            height: 397px;
          }
          .description {
            overflow: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 50%;
            height: 30%;
            margin: auto;
            @media (max-width: $screen-xs-max) {
              width: 80%;
            }

            p {
              color: $gray-lighter;
            }
          }

        }
        .btn-home-proposal {
          display: block;
          margin: auto;
        }
      }
      .owl-buttons {
        font-size: 40px;
        .owl-prev {
          position: absolute;
          top: 50%;
          left: 10%;
          @media (max-width: $screen-xs-max) {
            left: 2%;
          }
        }
        .owl-next {
          position: absolute;
          top: 50%;
          right: 10%;
          @media (max-width: $screen-xs-max) {
            right: 2%;
          }
        }
      }
    }

    .key-visual-image {
      width: 100%;
      margin-top: -100px;
      margin-bottom: 10px;
      @media (max-width: $screen-xs-max) {
        margin-top: -45px;
      }
    }

    background-color: $site-header-primary;
    p {
      @include responsive-font-size-large();
      color: $brand-primary-lighter;
      position: relative;
      span.count {
        font-size: 36px;
        color: #fff;
        font-weight: 900;
      }
    }


    .btn-home-proposal {
      background-color: #02f2d5;
      border: none;
      color: $site-header-primary;
      width: 180px;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: $font-size-large;

      &:hover {
        color: $site-header-primary-dark;
        @include hover-big-shadow();
      }
    }
  }

  section#current-projects {
    .projects-all-loading {
      text-align: center;
      margin-top: 50px;
      display: none;
      @media (max-width: $screen-xs-max){
        min-height: 800px;
      }
    }

    .section-title {
      margin-top: 10px;
      margin-bottom: 10px;
      @include responsive-font-size-large();
      color: $brand-primary;
      @media (max-width: $screen-xs-max) {
        padding-left: 20px;
      }
    }
    .project-container {
      padding-left: 0;
      padding-right: 0;
      margin-top: 18px;
      .projects-search-form {
        margin: 0 5px 12px;
        .input-group-keyword {
          .form-control {
            font-size: $font-size-base;
            height: 35px;
          }
          .input-group-btn {
            .btn-group-default {
              color: #fff;
              background-color: #16a6a8;
              height: 35px;
              padding: 0 10px;
            }
          }
        }
      }
      .projects-sort-select {
        .list-inline {
          margin-left: 0;
          margin-bottom: 0;
          color: $gray;
          a {
            color: $gray;
            &.active {
              color: $brand-primary;
            }
          }
        }
      }
    }

    .project {
      border: 1px solid $gray-lighter;
    }
  }
}
