section#page-proposals-new {
  padding-top: 20px;
  .intro {
    text-align: center;
    @include responsive-font-size-large();
    color: $brand-primary;
    margin-bottom: 36px;
  }
  .btn-submit {
    margin-top: 30px;
  }
  #attachments {
    margin-top: 12px;
    .nested-fields {
      margin-top: 6px;
      .form-group {
        margin-bottom: 0;
        .source-link {
          margin-left: 15px;
        }
      }
      &.nested-fields--persisted {
        background-color: $gray-lightest;
        line-height: 3.3;
      }
    }
  }
}


section#page-proposals-create {
  section#intro {
    color: $gray-dark;
    background-color: $gray-lightest;
    padding: 25px 20px;
    text-align: center;
  }
  section#saved-proposal{
    margin-top: 20px;
    .proposal-proposer {
      @include responsive-font-size-small();
      color: $gray;
      padding-left: 8px;
    }
    .proposal-title {
      font-size: $font-size-h3;
      margin-top: 15px;
      margin-bottom: 7px;
    }
    .proposal-body {
      color: $gray;
    }
  }
}
