.project {
  @mixin angle-right($height, $color) {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: $height/2 solid transparent;
    border-bottom: $height/2 solid transparent;
    border-left: $height/2 solid $color;
    position: absolute;
    top: 0;
    right: -1 * $height/2;
    z-index: 1;
  }

  @mixin angle-left($height, $color) {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: $height/2 solid $color;
    border-bottom: $height/2 solid $color;
    border-left: $height/2 solid transparent;
    position: absolute;
    top: 0;
    left: -1 * $height/2;
    z-index: 1;
  }

  padding: 26px 20px 16px;
  border-top: 1px solid $gray-lighter;


  .project-title {
    font-size: $font-size-h3;
    color: $gray-dark;
    &:hover {
      color: $brand-primary;
    }
  }
  .project-body {
    color: $gray;
    margin-bottom: 10px;
  }
  .project-image {
    height: 200px;
    @media (max-width: $screen-xs-max) {
      height: 140px;
    }
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .steps {
    position: absolute;
    bottom: 0;
    width: 100.1%;
    .step {
      display: inline-block;
      text-align: center;
      @include responsive-font-size-small();
      padding-top: 13px;
      padding-bottom: 13px;
      vertical-align: bottom;
      position: relative;
      color: $gray;
      line-height: 14px;
      &.step--gathering {
        .percent {
          display: inline-block;
          margin-left: 9px;
        }
      }
    }

    &.steps--gathering .step--gathering,
    &.steps--matching .step--matching,
    &.steps--running .step--running {
      vertical-align: middle;
      background-color: $brand-primary;
      color: #fff;
      line-height: 18px;
    }

    &.steps--gathering .step--gathering,
    &.steps--matching .step--matching {
      &:after {
        @include angle-right(44px, $brand-primary)
      }
    }

    &.steps--matching .step--matching,
    &.steps--running .step--running {
      &:before {
        @include angle-left(44px, $brand-primary)
      }
    }

    &.steps--gathering .step--matching {
      &:after {
        @include angle-right(40px, $gray-lighter)
      }
    }

    &.steps--running .step--gathering {
      &:after {
        @include angle-right(40px, $gray-lightest)
      }
    }

    &.steps--gathering {
      .step--gathering {
        width: 41%;
        .percent {
          display: inline-block;
          font-size: $font-size-h3;
          color: #fefd37;
          vertical-align: middle;
          margin-left: 9px;
        }
      }
      .step--matching {
        width: 32%;
        padding-left: 25px;
        background-color: $gray-lighter;
      }
      .step--running {
        width: 27%;
        padding-left: 20px;
        background-color: $gray-lightest;
      }
    }
    &.steps--matching {
      .step--gathering {
        width: 40%;
        background-color: $gray-lighter;
      }
      .step--matching {
        width: 30%;
        // line-height: 34px;
      }
      .step--running {
        width: 30%;
        padding-left: 20px;
        background-color: $gray-lightest;
      }
    }
    &.steps--running {
      .step--gathering {
        width: 35%;
        background-color: $gray-lightest;
      }
      .step--matching {
        width: 35%;
        background-color: $gray-lighter;
      }
      .step--running {
        width: 30%;
      }
    }
  }
  .project-meta {
    margin-top: 12px;
    margin-bottom: 12px;
    .count {
      @include responsive-font-size-small();
      color: $gray-light;
    }
    .comments-button {
      margin-left: 15px;
    }
    .btn-participation {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: $font-size-large;
      margin-top: 43px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 183px;

      &__home {
        background-color: #02f2d5;
        color: $site-header-primary;
        border-color: #02f2d5;

        &:hover {
          color: $site-header-primary-dark;
          @include hover-shadow();
        }
      }

      &__cancel {
        background-color: $gray-lighter;
        color: $site-header-primary;
        border-color: $gray-lighter;

        &:hover {
          color: $site-header-primary-dark;
          @include hover-shadow();
        }
      }

    }
  }
}

section#project {
  .page-header {
    margin: 20px 0 0;
    border: none;

    .project-meta {
      margin-top: 12px;
      margin-bottom: 12px;

      .count {
        @include responsive-font-size-small();
        color: $gray-light;
      }

      .comments-button {
        margin-left: 15px;
      }
    }
  }

  .project-panel {
    margin-bottom: 20px;

    &__intro {
      margin-top: -16px;
      color: $gray;

      .project-image {
        height: 120px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .project-label {
      color: $brand-primary;
      strong {
        font-weight: 900;
      }
    }

    &__status {
      .project-status-bar {
        .steps {
          margin-top: 12px;
          .step {
            color: $gray;
            position: relative;
            display: inline-block;
            width: 33.33%;
            text-align: center;
            border-right: none;
            background: #fff;
            border: 1px solid $gray-lighter;
            border-left: none;
            font-size: $font-size-small;
            padding-top: 10px;
            padding-bottom: 10px;

            @media (max-width: $screen-xs-max) {
              font-size: $font-size-small-xs;
            }

            &:after,
            &:before {
              content: '';
              display: block;
              position: absolute;
              left: 100%;
              width: 0;
              height: 0;
              border-style: solid;
            }

            &:after {
              top: 16px;
              border-color: transparent transparent transparent #fff;
              border-width: 5px;
            }

            &:before {
              top: 14px;
              border-color: transparent transparent transparent $gray-lighter;
              border-width: 7px;
            }
            &--gathering {
              z-index: 3;
              border-left: 1px solid $gray-lighter;
            }
            &--matching {
              z-index: 2;
            }
            &--running {
              z-index: 1;

              &:after {
                border: none;
              }

              &:before {
                border: none;
              }
            }
            &__now {
              color: #fff;
              background-color: $brand-primary;
              border-color: $brand-primary;
              &:before {
                border-color: transparent transparent transparent $brand-primary;
              }
              &:after {
                border-color: transparent transparent transparent $brand-primary;
              }
            }
          }
        }
      }
    }

    &__proposer {
      .proposal-content {
        display: inline-block;
        margin-top: 4px;
        &__left {
          width: 10%;
          vertical-align: top;
          .proposer-image {
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        &__right {
          width: 88%;
          .proposer-name {
            color: $gray;
            font-size: $font-size-small-xs;
          }
          .proposer-date {
            color: $gray;
            font-size: $font-size-small-xs;
            margin-left: 8px;
          }
          .proposer-opinion {
            background-color: $gray-lightest;
            padding: 4px 16px;

          }
        }
      }
    }
    &__committee {
      .committee-content {
        margin-top: 4px;
        .committee-name {

        }
        .committee-congressmen {
          margin-top: 16px;
          .committee-congressman {
            position: relative;
            background-color: $gray-lightest;
            display: inline-block;
            width: 148px;
            height: 166px;
            margin-bottom: 31px;
            margin-right: 12px;

            &__status {
              display: inline-block;
              border: 1px solid black;
              border-radius: 50%;
              position: absolute;
              padding: 8px;
              top: -10px;
              font-size: 14px;
              background-color: #fff;
            }
            &__image {
              height: 70px;
              width: 70px;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              margin-left: auto;
              margin-right: auto;
              margin-top: 20px;
            }
            &__name {
              text-align: center;
              margin-top: 7px;
            }
            &__contacts {

            }
          }        }
      }

    }
  }

  .project-intro-divider {
    height: 10px;
    background-color: $gray-lighter;
    margin: 22px -15px;
  }
  .project-divider {
    border-top: 1px solid #efefef;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
