$project-step-border-color: $gray-lighter;

section#page-project .project-panel__status .project-status-bar,
section#page-home .project {
  @mixin angle-after($height, $color) {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: $height/5 solid transparent;
    border-bottom: $height/5 solid transparent;
    border-left: $height/5 solid $color;
    position: absolute;
    top: ($height/2 - $height/5);
    right: -$height/5 + 1px;
    z-index: 1;
  }

  @mixin angle-before($height, $color, $border-color) {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: $height/5 solid $color;
    border-bottom: $height/5 solid $color;
    border-left: $height/5 solid $border-color;
    position: absolute;
    top: ($height/2 - $height/5);
    left: 0;
  }

  .steps {
    width: 100%;
    .step {
      display: inline-block;
      text-align: center;
      @include responsive-font-size-small();
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
      color: $gray;
      width: 33.3%;
      &:last-child {
        width: 33.4%;
      }
      line-height: 14px;
      background-color: $gray-lightest;
      border-left: 1px solid $project-step-border-color;
    }
    .step:last-child {
      border-right: 1px solid $project-step-border-color;
    }
    &.steps--running .step--running {
      border-right-color: $brand-primary;
    }
    &.steps--gathering .step--gathering {
      border-left-color: $brand-primary;
    }

    &.steps--gathering .step--gathering,
    &.steps--matching .step--matching,
    &.steps--running .step--running {
      background-color: $brand-primary;
      color: #fff;
    }

    &.steps--gathering .step--gathering,
    &.steps--matching .step--matching {
      &:after {
        @include angle-after(36px, $brand-primary)
      }
    }

    &.steps--gathering .step--matching,
    &.steps--matching .step--gathering,
    &.steps--running .step--gathering,
    &.steps--running .step--matching {
      &:after {
        @include angle-after(36px, $gray-lightest)
      }
    }
    &.steps--gathering .step--running,
    &.steps--gathering .step--matching,
    &.steps--matching .step--running,
    &.steps--running .step--matching {
      &:before {
        @include angle-before(36px, $gray-lightest, $gray-lighter)
      }
    }
    &.steps--matching .step--matching,
    &.steps--running .step--running  {
      &:before {
        @include angle-before(36px, $brand-primary, $gray-lighter)
      }
    }
  }
}

section#page-home .project {
  padding: 20px;

  .project-title {
    margin-top: 14px;
    margin-bottom: 7px;
    font-size: $font-size-h3;
    color: $gray-dark;
    &:hover {
      color: $brand-primary;
    }
  }
  .project-summary {
    color: $gray;
    margin-bottom: 10px;
  }
  .project-image {
    height: 200px;
    @media (max-width: $screen-xs-max) {
      height: 140px;
    }
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .steps {
      position: absolute;
      bottom: 0;
    }
  }
  .project-graph {
    border: 1px solid $brand-primary;
    padding: 16px 20px 12px;
    color: $gray;
    .count {
      color: $brand-primary;
    }
    .bar {
      height: 10px;
      margin: 4px 0;
      width: 100%;
      background-color: $gray-lighter;
      .participations-bar {
        background: $brand-primary;
        height: 100%;
      }
    }
    .participations-goal-count {
      text-align: center;
    }
    .current-participations-count {
      .content {
        display: inline-block;
        position: relative;
        text-align: center;
      }
    }
  }
  .project-participation {
    text-align: center;
  }
  .project-meta {
    .count,
    .date {
      @include responsive-font-size-small();
      color: $gray-light;
    }
    .created_at {
      i {
        color: $brand-primary;
        font-size: 20px;
        vertical-align: bottom;
      }
    }
    .comments {
      margin-left: 15px;
    }
  }
  .project-participation {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;

    .btn-participation {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: $font-size-large;
      width: 183px;

      &__accept {
        background-color: #02f2d5;
        color: $site-header-primary;
        border-color: #02f2d5;

        &:hover {
          color: $site-header-primary-dark;
          @include hover-shadow();
        }
      }

      &__cancel {
        background-color: $gray-lighter;
        color: $site-header-primary;
        border-color: $gray-lighter;

        &:hover {
          color: $site-header-primary-dark;
          @include hover-shadow();
        }
      }

    }
  }
}

body.app-projects-show {
  background-color: #f8f8f8;
}

section#project-participations {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  .project-panel__participation {
    padding: 5px;
  }
  .participation-title,
  .participation-progress,
  .participation-users {
    display: none;
  }
  .btn-project-participation {
    margin: 0;
  }
  &.unstuck {
    position: static;

    .project-panel__participation {
      padding: 38px 20px;
    }
    .participation-title,
    .participation-progress,
    .participation-users {
      display: block;
    }
    .btn-project-participation {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}

section#page-project,
section#page-participations {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  section#project-participations {
    background-color: $site-header-primary;
  }
  .page-header {
    margin: 20px 0 0;
    border: none;

    .project-meta {
      margin-top: 12px;
      margin-bottom: 12px;

      .count {
        @include responsive-font-size-small();
        color: $gray-light;
      }
      .created_at {
        i {
          color: $brand-primary;
        }
        .date {
          @include responsive-font-size-small();
          color: $gray-light;
        }

      }
      .comments-button {
        margin-left: 15px;
      }
    }
    h2 a {
      color: $text-color;
      &:hover {
        color: $brand-primary;
      }
    }
  }

  .project-panel {
    margin-bottom: 20px;

    &__intro {
      margin-top: -16px;
      color: $gray;

      .project-image {
        height: 120px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .project-label {
      color: $brand-primary;
      strong {
        font-weight: 900;
      }
    }

    &__status .project-status-bar {
      .steps .step {
        border-top: 1px solid $project-step-border-color;
        border-bottom: 1px solid $project-step-border-color;
        &.steps--gathering .step--gathering,
        &.steps--matching .step--matching,
        &.steps--running .step--running {
          border-top: 1px solid $brand-primary;
          border-bottom: 1px solid $brand-primary;
        }
      }
    }
    &__proposer {
      margin-top: 9px;
      .proposal-content {
        color: $gray;
        @include responsive-font-size-small();
        .proposer-opinion {
          @include responsive-font-size-base();
          background-color: $gray-lighter;
          margin-top: 5px;
          padding: 4px 16px;
        }
      }
    }
    &__committee {
      .committee-content {
        margin-top: 6px;
        .committee-name {

        }

        $committee-congressman-status-top: 10px;
        $committee-congressman-status-left: 2px;
        .committee-congressman-wrapper {
          padding-top: $committee-congressman-status-top;
          padding-left: $committee-congressman-status-left;
        }
        .committee-congressmen {
          margin-top: 5px;
          .committee-congressman {
            position: relative;
            background-color: $gray-lightest;
            width: 148px;
            height: 166px;
            padding: 20px 12px 10px;

            &__status {
              display: inline-block;
              border: 1px solid $gray;
              border-radius: 50%;
              position: absolute;
              top: -1 * $committee-congressman-status-top;
              left: -1 * $committee-congressman-status-left;
              font-size: 14px;
              background-color: #fff;
              width: 40px;
              height: 40px;
              line-height: 3;
              text-align: center;
              &--accept {
                border-color: $brand-success;
                color: $brand-success;
              }
              &--reject {
                border-color: $brand-danger;
                color: $brand-danger;
              }
            }
            &__image {
              margin-left: auto;
              margin-right: auto;
            }
            &__name {
              text-align: center;
              margin-top: 7px;
            }
            &__contacts {
              &--tok {
                display: inline-block;
                .action-mention {
                  @include responsive-font-size-small();
                  color: #fff;
                  background-color: $brand-primary;
                  padding: 4px 0;
                  line-height: 1;
                  width: 60px;
                  padding-top: 6px;
                  .tok-icon {
                    display: inline-block;
                    width: 13px;
                    height: 15px;

                  }
                }
              }
              &--twitter,
              &--facebook {
                background-color: $gray-light;
                display: inline-block;
                line-height: 1.8;
                @media (max-width: $screen-xs-max) {
                  line-height: 1.6;
                }
                vertical-align: bottom;
                border-radius: 2px;
                width: 26px;
                text-align: center;
                a i {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }

    &__participation {
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: 0;
      @include responsive-font-size-large();

      .participation-title {
        color: #fff;
        text-align: center;
      }

      .participation-progress {
        @include responsive-font-size-small();
        .text-important {
          color: $brand-primary-lighter;
        }
        &__count {
          color: #fff;
          span {
            color: #fff;
          }

        }
        &__graph {
          padding: 16px 20px 12px;


          .bar {
            height: 10px;
            margin: 4px 0;
            width: 100%;
            background-color: $gray-lighter;
            .participations-bar {
              background: $brand-primary;
              height: 100%;
            }
          }
          .participations-goal-count {
            text-align: center;
            color: #fff;
            margin-top: 3px;
          }
          .current-participations-count {
            .content {
              text-align: center;
              display: inline-block;
              position: relative;
              color: #fff;
              span {
                color: #fff;
              }
              .count {
                color: $brand-primary;
              }
            }
          }
        }
        &__goal-count {
          color: #fff;
        }
      }

      .btn-project-participation {
        text-align: center;

        .btn-participation {
          padding-top: 12px;
          padding-bottom: 12px;
          font-size: $font-size-large;
          width: 183px;

          &__accept {
            background-color: #02f2d5;
            color: $site-header-primary;
            border-color: #02f2d5;

            &:hover {
              color: $site-header-primary-dark;
              @include hover-shadow();
            }
          }

          &__cancel {
            background-color: $gray-lighter;
            color: $site-header-primary;
            border-color: $gray-lighter;

            &:hover {
              color: $site-header-primary-dark;
              @include hover-shadow();
            }
          }

        }
      }

      .participation-users {
        margin-top: 24px;
        text-align: center;
      }
      .participation-all-user {
        margin-top: 10px;
        display: block;
        text-align: center;
        color: #fff;
        @include responsive-font-size-small();
      }
    }
  }

  .project-intro-divider {
    height: 10px;
    background-color: $gray-lighter;
    margin: 22px -20px;
  }
  .project-divider {
    border-top: 1px solid #efefef;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
