.img-user {
  @extend .img-circle;
  background-size: cover;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  display: inline-block;

  h2 & {
    height: 30px;
    width: 30px;
    vertical-align: top;
  }
}

.img-user-large {
  @extend .img-circle;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
