.img-user {
  @extend .img-circle;
  background-size: cover;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  display: inline-block;

  h2 & {
    height: 30px;
    width: 30px;
    vertical-align: top;
  }
}

.img-user-large {
  @extend .img-circle;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.img-user-jumbo {
  @extend .img-circle;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section#page-join {
  padding-top: 20px;
  .intro {
    text-align: center;
    @include responsive-font-size-large();
    color: $brand-primary;
    margin-bottom: 36px;
  }

  .join-buttons {
    text-align: center;
    margin-top: 60px;
    .btn-join {
      margin-bottom: 12px;
      width: 270px;
      text-align: center;
      line-height: 2.3;
      display: block;
      margin-left: auto;
      margin-right: auto;
      &:hover {
        @include hover-shadow();
        span {
          &, & > i {
            color: $gray-lightest;
          }
        }
      }
      span {
        text-align: left;
        display: inline-block;
        width: 150px;
        &, & > i {
        color: #fff;
        }
        & > i {
          font-size: 24px;
          vertical-align: middle;
        }
      }
      &.btn-join-facebook {
        background-color: #274aa0;
      }
      &.btn-join-twitter {
        background-color: #469bff;
      }
      &.btn-join-kakao {
        background-color: #f9e90d;
        span {
          color: $gray;
        }
        img {
          width: auto;
          height: 18px;
          padding-right: 7px;
          padding-left: 5px;
        }
      }
    }
  }
}

section#page-users-show {
  section#user-header {
    background-color: $brand-info;
    padding: 30px 0;
    text-align: center;

    .user-nickname,
    .user-email,
    .user-edit a i {
      color: #fff;
    }
    .user-image {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 9px;
    }
    .user-meta {
      position: relative;
      .user-edit {
        position: absolute;
        top: -15px;
        right: 40%;
        @media (max-width: $screen-xs-max) {
          right: 0;
        }
        a i {
          font-size: 20px;
        }
      }
    }
  }

  section#user-body {
    margin-top: 20px;
    .section-label {
      margin-bottom: 5px;
      .count {
        font-size: 12px;
        color: #fff;
        background-color: #16a6a8;
        padding: 2px 4px;
        vertical-align: top;
      }
    }
    .proposals, .projects {
      .proposal, .project {
        padding: 13px 15px;
        margin-top: 12px;
        color: $text-color;
        background-color: $gray-lightest;
        &-date {
          @include responsive-font-size-small();
          color: $gray;
        }
        &:hover {
          @include hover-shadow();
          color: $gray-darker;
        }
      }
    }
  }
}

section#sign-up {
  padding-top: 20px;
  .sign-up-header {
    @include responsive-font-size-large();
    text-align: center;
    color: $brand-primary;
    margin-bottom: 36px
  }
  #error_explanation {
    h2 {
      display: none;
    }
    ul {
      padding: 0;
      li {
        color: red;
        list-style: none;
      }
    }
  }
}

section#page-devise-confirmmations,
section#page-devise-password {
  padding-top: 20px;
  .intro {
    text-align: center;
    @include responsive-font-size-large();
    color: #16a6a8;
    margin-bottom: 36px;
    .error_explanation {
      @include responsive-font-size-base();
      color: $brand-danger;
    }
  }
}

section#profile-edit {
  padding-top: 20px;
  .profile-edit-header {
    @include responsive-font-size-large();
    text-align: center;
    color: $brand-primary;
    margin-bottom: 36px
  }
  .profile-form {
    text-align: center;
  }
  #error_explanation {
    h2 {
      display: none;
    }
    ul {
      padding: 0;
      text-align: center;
      li {
        color: red;
        list-style: none;
      }
    }
  }
}

.email-login-box-wrapper {
  text-align: center;
  position: relative;
  padding-top: 12px;
  .form-group {
    margin-bottom: 10px;
  }
  .email-login-box {
    padding-top: 12px;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
  .email-login-box-title-wraper {
    position: absolute;
    top: 25px;
    .email-login-box-title {
      color: $gray-light;
      margin: 10px 0;
      padding-right: 8px;
      padding-left: 8px;
      background-color: #fff;
      display: inline-block;
    }
    width: 270px;
  }
}
