section#user-agreement {
  .page-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    &__title {
      color: #333;
      border-bottom: 2px solid #d2d2d2;
      text-align: center;
      line-height: 2;
      margin-bottom: 50px;
    }
    &__txt {
      color: #333333;
      font-size: 12px;
      line-height: 1.6em;
      b {
        font-size: 15px;
        margin-bottom: 20px;
        display: block;
      }
      p {
        margin-bottom: 25px;
      }
      .indent {
        padding-left: 15px;
        margin-top: -25px;
      }
      strong {
        display: block;
      }
    }
  }
}
