* , body {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Noto Sans KR', 'Source Sans Pro', 'Helvetica Neue', Helvetica, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Arial, sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  padding-top: 50px;
  width: 100%;
  min-width: 970px;
}


// Typography
@media (max-width: $screen-xs-max) {
  body, .btn {
    font-size: $font-size-base-xs;
  }
}

.container {
  max-width: 768px !important;
}
