* , body {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Noto Sans KR', 'Source Sans Pro', 'Helvetica Neue', Helvetica, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Arial, sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  padding-top: 64px;
  @media (max-width: $screen-xs-max) {
    padding-top: 67px;
  }
  width: 100%;
}

// Form

label {
  color: $gray-dark;
  font-weight: normal;
  &.required:after {
    content: "*";
    margin-left: 5px;
    color: $brand-danger;
  }
}

.form-group {
  margin-bottom: 20px;
}

.form-group-submit {
  text-align: center;
}

.form-control {
  border: 1px solid $gray-lighter;
}

.form-control.error {
  @extend .has-error;
}

.field_with_errors {
  @extend .has-error;
  .redactor-box {
    border: 1px solid $brand-danger;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}

// Footer position
$footer-height: 268px;
body {
  margin-bottom: $footer-height + 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
}

// Typography
@media (max-width: $screen-xs-max) {
  body, .btn {
    font-size: $font-size-base-xs;
  }
}

.container {
  max-width: 768px !important;
}

.icon-participation {
  width: 16px;
}

.icon-clock {
  width: 17px;
}

.icon-comment {
  width: 16px;
}

.icon-attachment {
  width: 8px;
}

.icon-close {
  width: 14px;
}

.icon-share {
  height: 15px;
}

.col-middel {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.btn-attachment {
  &:hover {
    color: $gray-lighter;
    @include hover-shadow();
  }
  &, &:focus, &.focus {
    color: #fff;
    background-color: $gray;
  }
  line-height: 1;
  @include responsive-font-size-small();
}

.btn-submit {
  margin-top: 30px;
  line-height: 2.5;
  width: 183px;
  &, &:focus, &.focus {
    background-color: $site-header-primary;
    color: #fff;
  }
  &:hover {
    color: $gray-lighter;
    @include hover-shadow();
  }
}

.section-label {
  color: $brand-primary;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.pagination > li > a:hover {
  background-color: $gray-lightest;
}

.pagination > li > span {
  &, &:hover {
    color: $gray;
    background-color: #fff;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  max-width: 690px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

#redactor-droparea-placeholder {
  margin-left: 0;
  input[type="file"] {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 12px;
    border-radius: 2px;
  }
}
