* , body {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Noto Sans KR', 'Source Sans Pro', 'Helvetica Neue', Helvetica, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Arial, sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  padding-top: 64px;
  @media (max-width: $screen-xs-max) {
    padding-top: 67px;
  }
  width: 100%;
}


// Typography
@media (max-width: $screen-xs-max) {
  body, .btn {
    font-size: $font-size-base-xs;
  }
}

.container {
  max-width: 768px !important;
}

.icon-participation {
  width: 16px;
}

.icon-comment {
  width: 16px;
}

.icon-share {
  height: 15px;
}
