@mixin hover-shadow() {
  -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24);
  -moz-box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24);
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24);
}

@mixin hover-big-shadow() {
  -webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
  -moz-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

@mixin responsive-font-size-small() {
  font-size: $font-size-small;
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-small-xs;
  }
}

@mixin responsive-font-size-large() {
  font-size: $font-size-large;
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-large-xs;
  }
}

@mixin responsive-font-size-base() {
  font-size: $font-size-base;
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-base-xs;
  }
}
