%table{cellpadding: "0", cellspacing: "0", style: "width: 90%; margin: 0px auto; border-width: 0px; border-color: rgb(237, 237, 237); border-style: solid;"}
  %tr{style: "margin: 0;padding:0;"}
    %td{style: "width: 100%; max-width: 620px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;"}
      %div{height: "0", style: "height: 0px; max-height: 0px; border: 0px; visibility: hidden; line-height: 0px; font-size: 0px; overflow: hidden;", width: "0"}
      %div{style: "overflow: hidden; margin: 0px auto; padding: 0px; max-width: 620px; clear: both;"}
        %div{style: "background: rgb(32, 58, 123); padding: 15px 0px; text-align: center; line-height: 1.8; border-style: solid; border-width: 0px;"}
          %div{style: "padding: 0px 5px; text-align: center;"}
            %div{style: "overflow: hidden; clear: both;"}
              %div{style: "vertical-align: top; padding: 5px 0px;"}
                %div{style: "padding: 0px 10px;"}
                  %div
                    %p{style: "text-align: center; margin: 0px;"}
                      %a{href: "http://toktok.io", style: "display: block; border: 0px;", target: "_blank", title: ""}
                        = image_tag attachments['logo.png'].url, style: "width: auto; display: inline; vertical-align: middle; max-width: 100%; border: 0px; text-align: center;"
      %div{style: "overflow: hidden; margin: 0px auto; padding: 0px; max-width: 620px; clear: both;"}
        %div{style: "padding: 15px 0px; text-align: left; line-height: 1.8; border-style: solid; border-width: 0px;"}
          %div{style: "padding: 0px 5px; text-align: center;"}
            %div{style: "padding: 0 10px;"}
              %div{style: "font-size: 14px; font-family: AppleSDGothic, \"apple sd gothic neo\", \"noto sans korean\", \"noto sans korean regular\", \"noto sans cjk kr\", \"noto sans cjk\", \"nanum gothic\", \"malgun gothic\", dotum, sans-serif; color: rgb(51, 51, 51); padding: 0px; margin: 0px; text-align: left;"}
                %div{style: "font-size: 14px; font-family: AppleSDGothic, \"apple sd gothic neo\", \"noto sans korean\", \"noto sans korean regular\", \"noto sans cjk kr\", \"noto sans cjk\", \"nanum gothic\", \"malgun gothic\", dotum, sans-serif; color: rgb(51, 51, 51); padding: 0px; margin: 0px; text-align: left;"}
                  %div{style: "text-align: center;"}
                    %span{style: "font-size: 18px; font-weight: bold;"} 안녕하세요. #{@resource.nickname}님!
                    %br/
                  %div{style: "text-align: center;"}
                    %br>/
                    아래 버튼을 클릭하시면 메일 주소 확인이 완료됩니다.
      %div{style: "overflow: hidden; margin: 0px auto; padding: 0px; max-width: 620px; clear: both;"}
        %div{style: "padding: 15px 0px; text-align: center; line-height: 1.8; border-style: solid; border-width: 0px;"}
          %div{style: "padding: 0px 5px; text-align: center;"}
            %div{style: "padding: 16px 0px; margin: 0px 10px;"}
              %p{style: "margin: 0px;"}
                %a{href: confirmation_url(@resource, confirmation_token: @token), style: "font-size: 16px; color: rgb(32, 58, 123); background: rgb(2, 242, 213); border-radius: 3px; padding: 16px 26px; text-decoration: none; outline: 0px; font-family: AppleSDGothic, \"apple sd gothic neo\", \"noto sans korean\", \"noto sans korean regular\", \"noto sans cjk kr\", \"noto sans cjk\", \"nanum gothic\", \"malgun gothic\", dotum, sans-serif;", target: "_blank"} 확인
